<mat-progress-bar mode="buffer"></mat-progress-bar>
<a href="/" class="buttenback">Back</a>












<h3>Welcome to &#x2943; {{title}}</h3>
<div class="container">
  <p class="auto-service">New Three Star <br>Auto Service</p>
</div>

<div class="service-info">
    <h3>Auto Service Hub &#x2943;</h3>
    <p>Trustworthy destination for comprehensive maintenance,<br>
       repairs, and diagnostics for all vehicle makes and models.</p>
  </div>




  <div class="d-grid gap-2 col-6 mx-auto">
    <a href="Easy-booking" class="btn btn-primary my-custom-btnn">E Booking</a>
  </div>










<body>

    <main>
        <div class="card">
            <img src="assets/images/Backimg/abc.jpg" class="image">
            <img src="assets/images/Backimg/abc.jpg" class="background">
            <div class="layer">
                <div class="info">
                    <h1>Taj Mahal</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, placeat.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="assets/images/Backimg/img2.jpg" class="image">
            <img src="images/marina-bay.jpg" class="background">
            <div class="layer">
                <div class="info">
                    <h1>Marina Bay</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, placeat.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="assets/images/Backimg/img4.jpg" class="image">
            <img src="images/great-wall.jpg" class="background">
            <div class="layer">
                <div class="info">
                    <h1>Great Wall</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, placeat.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="assets/images/Backimg/img5.jpg" class="image">
            <img src="images/statue-liberty.jpg" class="background">
            <div class="layer">
                <div class="info">
                    <h1>Statue Liberty</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, placeat.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="assets/images/Backimg/img3.jpg" class="image">
            <img src="images/fuji-mountain.jpg" class="background">
            <div class="layer">
                <div class="info">
                    <h1>Fuji Mountain</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, placeat.</p>
                </div>
            </div>
        </div>
    </main>

</body>






<body>
    <a href="#">
        <span></span>
      <span></span>
      <span></span>
        <span></span>
        NOW OPEN IN KURUNEEGALA RIDEEGAMA
    </a>
</body>


























    <!-- carousel -->
 <div class="carousel">
        <!-- list item -->
        <div class="list">
            <div class="item">
                <img src="assets/images/Backimg/img1.png">
                <div class="content">
                    <div class="author">LUNDEV</div>
                    <div class="title">DESIGN SLIDER</div>
                    <div class="topic">ANIMAL</div>
                    <div class="des">
                        <!-- lorem 50 -->
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="assets/images/Backimg/img2.jpg">
                <div class="content">
                    <div class="author">LUNDEV</div>
                    <div class="title">DESIGN SLIDER</div>
                    <div class="topic">ANIMAL</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="assets/images/Backimg/img1.png">
                <div class="content">
                    <div class="author">LUNDEV</div>
                    <div class="title">DESIGN SLIDER</div>
                    <div class="topic">ANIMAL</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="assets/images/Backimg/img5.png">
                <div class="content">
                    <div class="author">LUNDEV</div>
                    <div class="title">DESIGN SLIDER</div>
                    <div class="topic">ANIMAL</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- list thumnail -->
        <div class="thumbnail">
            <div class="item">
                <img src="assets/images/Backimg/abc.jpg">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="assets/images/Backimg/img1.png">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="assets/images/Backimg/img2.jpg">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="assets/images/Backimg/img4.jpg">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- next prev -->

 <body>

    <div class="pwrapper">
        <div class="Ibox">
            <h3>Website Development</h3>
            <p>ipsum dolor sit ametLorem ipsum dolor sit amet, consectetur adipiscing elitipsum dolor sit ametLorem ipsum dolor sit amet</p>

        </div>
        <div class="Ibox">
            <h3>Digital Marketing</h3>
            <p>ipsum dolor sit ametLorem ipsum dolor sit amet, consectetur adipiscing elitipsum dolor sit ametLorem ipsum dolor sit amet</p>

        </div>
        <div class="Ibox">
            <h3>App Development</h3>
            <p>ipsum dolor sit ametLorem ipsum dolor sit amet, consectetur adipiscing elitipsum dolor sit ametLorem ipsum dolor sit amet</p>

        </div>
        <div class="Ibox">
            <h3>Digital Marketing</h3>
            <p>ipsum dolor sit ametLorem ipsum dolor sit amet, consectetur adipiscing elitipsum dolor sit ametLorem ipsum dolor sit amet</p>

        </div>

        <div class="Ibox">
            <h3>Website Development</h3>
            <p>ipsum dolor sit ametLorem ipsum dolor sit amet, consectetur adipiscing elitipsum dolor sit ametLorem ipsum dolor sit amet</p>

        </div>

    </div>







 </body>




<body>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>




  </body>

  <body>
    <mat-card class="Eexample-card">
      <mat-card-header>
        <div mat-card-avatar class="Eexample-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
  </mat-card-content>

  </mat-card>
</body>

<body>
          <div class="cbox">
              <h3>COMMERCIAL VEHICLES</h3>
              <p>used for business purposes rather than personal use. They include trucks, vans, buses,
                  and other vehicles designed and utilized for transporting goods, passengers, or performing
                  specific services such as construction or delivery. Commercial vehicles are typically
                  distinguished by their larger size, specialized features, and higher payload capacities
                  compared to vehicles intended for personal transportation. They play a crucial role in various
                   industries, facilitating the movement of goods and people, and are subject to specific
                   regulations and requirements governing their operation and maintenance.</p>
          </div>
</body>








<body>
            <button type="button" class="btn btn-warning custom-button">Vehicle Brands</button>

</body>










<div class="text-center positioned-div">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="rounded sized-img" alt="...">
             </div>
             <div class='eflex-box'>
                <div class='ecard'>
                    <div class='iimg' style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');">
                        <!-- Content inside .iimg div goes here -->
                    </div>
                    <p class='title'>Honda.</p>
                </div>

                <div class='ecard'>
                    <div class='iimg' style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');">
                        <!-- Content inside .iimg div goes here -->
                    </div>
                    <p class='title'>This is a demo post.</p>
                </div>

                <div class='ecard'>
                    <div class='iimg' style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');">
                        <!-- Content inside .iimg div goes here -->
                    </div>
                    <p class='title'>This is a demo post.</p>
                </div>

                <div class='ecard'>
                    <div class='iimg' style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');">
                        <!-- Content inside .iimg div goes here -->
                    </div>
                    <p class='title'>This is a demo post.</p>
                </div>

                <div class='ecard'>
                    <div class='iimg' style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');">
                        <!-- Content inside .iimg div goes here -->
                    </div>
                    <p class='title'>This is a demo post.</p>
                </div>

                <div class='ecard'>
                    <div class='iimg' style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');">
                        <!-- Content inside .iimg div goes here -->
                    </div>
                    <p class='title'>This is a demo post.</p>
                </div>

                <div class='ecard'>
                    <div class='iimg' style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');">
                        <!-- Content inside .iimg div goes here -->
                    </div>
                    <p class='title'>This is a demo post.</p>
                </div>

                <div class='ecard'>
                    <div class='iimg' style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');">
                        <!-- Content inside .iimg div goes here -->
                    </div>
                    <p class='title'>This is a demo post.</p>
                </div>
                <div class='ecard'>
                    <div class='iimg' style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');">
                        <!-- Content inside .iimg div goes here -->
                    </div>
                    <p class='title'>This is a demo post.</p>
                </div>
                <div class='ecard'>
                    <div class='iimg' style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');">
                        <!-- Content inside .iimg div goes here -->
                    </div>
                    <p class='title'>This is a demo post.</p>
                </div>
                <div class='ecard'>
                    <div class='iimg' style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');">
                        <!-- Content inside .iimg div goes here -->
                    </div>
                    <p class='title'>This is a demo post.</p>
                </div>
                <div class='ecard'>
                    <div class='iimg' style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');">
                        <!-- Content inside .iimg div goes here -->
                    </div>
                    <p class='title'>This is a demo post.</p>
                </div>


             </div>

             <body>




</body>



<body>

    <div class="containerr">

        <video autoplay loop muted plays-inline class="background-clip">
            <source src="assets/images/Backimg/Untitled design.mp4" type="video/mp4">
        </video>
    </div>

</body>






















































