
<a href="/" class="buttenback">Back</a>






<body>
  <section>
    <div class="grid-item-title"></div>
    <div class="grid-gallery">
      <div class="grid-item" data-title="photography">
        <a href="#" class="image">
          <img src="https://mymech.lk/assets/img/shape/About-mymech-_735x730.png" />
        </a>
      </div>
      <div class="grid-item" data-title="interior design">
        <a href="#" class="image">
          <img src="https://firebasestorage.googleapis.com/v0/b/mymech-fc9fe.appspot.com/o/blogs%2F1668659175345_1610886746863_mobile-mechanic-baltimore.jpg?alt=media&token=a9eb694e-b585-42b7-b4c2-faa2a11cb2fe" />
        </a>
      </div>
      <div class="grid-item" data-title="japanese lantern">
        <a href="#" class="image">
          <img src="https://i.ibb.co/RTJqyqz/mid-adult-mechanic-thinking-while-repairing-car-engine-workshop.jpg" />
        </a>
      </div>
      <div class="grid-item" data-title="shoes">
        <a href="#" class="image">
          <img src="https://i.ibb.co/484v3xJ/shutterstock-2136356225.jpg" />
        </a>
      </div>
      <div class="grid-item" data-title="food">
        <a href="#" class="image">
          <img src="https://firebasestorage.googleapis.com/v0/b/mymech-fc9fe.appspot.com/o/blogs%2F1686132785514_Blog%20-%20TAL.jpg?alt=media&token=4df25231-6be8-4230-8c60-b17a3f175382" />
        </a>
      </div>
      <div class="grid-item" data-title="white & black camera">
        <a href="#" class="image">
          <img src="https://i.ibb.co/CWL8Bx6/used-car-1.png" />
        </a>
      </div>
    </div>
  </section>

  
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="assets/images/Backimg/abc.jpg" alt="Card image" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="flip-card-back">
        <h5 class="card-title">Back Side</h5>
        <p class="card-text">This is the back side of the card.</p>
        <a href="#" class="btn btn-secondary">Go back</a>
      </div>
    </div>
  </div>
  


  







  













  





  <body>
    
    <div class="content">
        <div class="container">
            <div class="single-content">
                <h1>Over Service Content</h1>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <img src="img/logo.png" alt="">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam repellendus sunt praesentium aspernatur iure molestias.</p>
                    <h3>We Accect</h3>
                    <div class="card-area">
                            <i class="fa fa-cc-visa"></i>
                            <i class="fa fa-credit-card"></i>
                            <i class="fa fa-cc-mastercard"></i>
                            <i class="fa fa-cc-paypal"></i>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <h2>Hosting</h2>
                    <ul>
                        <li><a href="#">Web Hosting</a></li>
                        <li><a href="#">Cloud Hosting</a></li>
                        <li><a href="#">CMS Hosting</a></li>
                        <li><a href="#">WordPress Hosting</a></li>
                        <li><a href="#">Email Hosting</a></li>
                        <li><a href="#">VPS Hosting</a></li>
                    </ul>
                    </div>                    
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <h2>Domain</h2>
                    <ul>
                        <li><a href="#">Web Domain</a></li>
                        <li><a href="#">Cloud Domain</a></li>
                        <li><a href="#">CMS Domain</a></li>
                        <li><a href="#">WordPress Domain</a></li>
                        <li><a href="#">Email Domain</a></li>
                        <li><a href="#">VPS Domain</a></li>
                    </ul>
                    </div>                    
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <h2>Newsletter</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur doloremque earum similique fugiat nobis. Facere?</p>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Enter your Email ..." aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2"><i class="fa fa-long-arrow-right"></i></span>
                        </div>
                        <h2>Follow us on</h2>
                        <p class="socials">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-dribbble"></i>
                            <i class="fa fa-pinterest"></i>
                            <i class="fa fa-twitter"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.min.js">
</body>








 <!-- Copyright -->
 <div class="copyright">
    Copyright © 2024. All rights reserved.
  </div>
  <!-- Copyright -->