

<div class="bg-light p-5 text-center">
  <h2>E-Booking</h2>
  <p>Cache on payment:</p>
  <a href="/" class="btn btn-primary">Back</a>
</div>




<div class="appointment">
    Appointment Reservation
</div>






<div class="container">
    <form action="https://api.web3forms.com/submit" method="POST">

        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <input type="hidden" name="access_key" value="ddc7a7ae-e33e-4d24-a655-eeadfaf4d099">
        <label for="phone">Phone Number</label>
        <input type="text" id="Phone" name="phone" placeholder="Your phone Number..">
        <label for="Email">Email</label>
        <input type="text" id="Email" name="Email" placeholder="Email..">
        <label for="Date">Booking Date</label>
        <input type="text" id="Date" name="Date" placeholder="Date..">


        <label for="Booking-Time">Booking-Time(8.30-5.00)</label>
        <input type="text" id="Booking-Time" name="Booking-Time" placeholder="Booking-Time..">


        <label for="District">District</label>
        <select id="District" name="District">
            <option value="kuruneegala">kuruneegala</option>
            <option value="kandy">kandy</option>
            <option value="Rideegama">Rideegama</option>
            <option value="Ogadapola">Ogadapola</option>
            <option value="Rabukandana">Rabukandana</option>
            <option value="mallawapitiya">mallawapitiya</option>
            <option value="Rambadagalla">Rambadagalla</option>
        </select>


        <label for="vehicle">vehicle</label>
        <select id="vehicle" name="vehicle">
            <option value="Moter-car">Moter car</option>
            <option value="Bus">Bus</option>
            <option value="Lorry">Lorry</option>
            <option value="Moter-bike">Moter-bike</option>
            <option value="Three-whell">Three wheel</option>

        </select>


        <label for="services">Select services</label>
        <select id="services" name="services">
            <option value="Wash and Grooming">Wash and Grooming</option>
            <option value="Lube Services">Lube Services</option>
            <option value="Exterior & Interior Detailing">Exterior & Interior Detailing</option>
            <option value="Engine Tune ups">Engine Tune ups</option>
            <option value="Wash and Grooming">Wash and Grooming</option>

        </select>






        <label for="Vehicle Number"> Vehicle Number</label>
        <input type="text" id="Vehicle Number" name=" Vehicle Number" placeholder=" Vehicle Number..">


        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:80px"></textarea>

        <input type="submit" value="Submit">
    </form>
</div>





<body>

    <div class="containerr">

        <video autoplay loop muted plays-inline class="background-clip">
            <source src="assets/images/Backimg/Untitled design.mp4" type="video/mp4">
        </video>
    </div>

</body>












<body>
  <div class="Ccontainer">
      <h1>Three Star Auto Service Map</h1>
      <iframe src="https://www.google.com/maps/embed?pb=!4v1719141055067!6m8!1m7!1sftCX22CcrQqo7VipcVjDAw!2m2!1d7.547263809698815!2d80.48912057435088!3f343.84280040382976!4f0.5188471939812871!5f0.4000000000000002" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</body>
