
.appointment {
  background-color: #f0f8ff; /* Light blue background color */
  border: 4px solid #00008b; /* Dark blue border */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Space inside the div */
  text-align: center; /* Centered text */
  font-family: Arial, sans-serif; /* Font style */
  font-size: 18px; /* Font size */
  color: #ff0000; /* Text color */
  width: 300px; /* Fixed width */
  margin: 50px auto; /* Center the div horizontally with margin */
}













/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {

    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #f11717; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* Add a background color and some padding around the form */
  .container {
    width: 400px;
    height: 1000px;
    border-radius: 5px;
    background: linear-gradient(to right, #f0f8ff, #add8e6); /* Gradient background */
    padding: 20px;
  }



  .containerr{
    position: absolute;
    top: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;


  }



  .background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  @media (min-aspect-ratio:16/9) {
    .background-clip{
        width: 100%;
        height: auto;
    }
  }

  @media (max-aspect-ratio:16/9) {
    .background-clip{
        width: auto;
        height: 100%;
    }
  }











  body{
    background: #353535;
}
.Ccontainer{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 1800px;
}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
iframe{
    width: 900px;
}

