

<div class="bg-light p-5 text-center">
  <h2>News & Blog</h2>
  <p>LATEST NEWS:</p>
  <a href="/" class="btn btn-primary">Back</a>&nbsp;
<button class="btn btn-success">E-Booking</button>
</div>





<body>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
                <div class="card mx-auto my-5">
                    <img src="assets/images/Backimg/abc.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Client Name</h5>
          <hr>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam non facilis, sit reiciendis aspernatur veniam! Eligendi optio architecto, est similique ad sed? Eius ducimus eos perferendis possimus sint. Sequi, blanditiis!</p><!-- lorem30 -->
          <a href="#" class="btn btn-dark">Learn More</a>
        </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card mx-auto my-5">
                    <img src="assets/images/Backimg/abc.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Client Name</h5>
          <hr>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam non facilis, sit reiciendis aspernatur veniam! Eligendi optio architecto, est similique ad sed? Eius ducimus eos perferendis possimus sint. Sequi, blanditiis!</p>
          <a href="#" class="btn btn-dark">Learn More</a>
        </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card mx-auto my-5">
                    <img src="assets/images/Backimg/abc.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Client Name</h5>
          <hr>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam non facilis, sit reiciendis aspernatur veniam! Eligendi optio architecto, est similique ad sed? Eius ducimus eos perferendis possimus sint. Sequi, blanditiis!</p>
          <a href="#" class="btn btn-dark">Learn More</a>
        </div>

                </div>
            </div>
        </div>
    </div>
</body>




<body>
  <div class="container py-5">
      <div class="row justify-content-center">
          <div class="col-12 col-lg-4">
              <div class="card mx-auto my-5">
                  <img src="assets/images/Backimg/abc.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Client Name</h5>
        <hr>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam non facilis, sit reiciendis aspernatur veniam! Eligendi optio architecto, est similique ad sed? Eius ducimus eos perferendis possimus sint. Sequi, blanditiis!</p><!-- lorem30 -->
        <a href="#" class="btn btn-dark">Learn More</a>
      </div>
              </div>
          </div>
          <div class="col-12 col-lg-4">
              <div class="card mx-auto my-5">
                  <img src="assets/images/Backimg/abc.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Client Name</h5>
        <hr>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam non facilis, sit reiciendis aspernatur veniam! Eligendi optio architecto, est similique ad sed? Eius ducimus eos perferendis possimus sint. Sequi, blanditiis!</p>
        <a href="#" class="btn btn-dark">Learn More</a>
      </div>
              </div>
          </div>
          <div class="col-12 col-lg-4">
              <div class="card mx-auto my-5">
                  <img src="assets/images/Backimg/abc.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Client Name</h5>
        <hr>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam non facilis, sit reiciendis aspernatur veniam! Eligendi optio architecto, est similique ad sed? Eius ducimus eos perferendis possimus sint. Sequi, blanditiis!</p>
        <a href="#" class="btn btn-dark">Learn More</a>
      </div>

              </div>
          </div>
      </div>
  </div>
</body>





<body>
  <div class="container py-5">
      <div class="row justify-content-center">
          <div class="col-12 col-lg-4">
              <div class="card mx-auto my-5">
                  <img src="assets/images/Backimg/abc.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Client Name</h5>
        <hr>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam non facilis, sit reiciendis aspernatur veniam! Eligendi optio architecto, est similique ad sed? Eius ducimus eos perferendis possimus sint. Sequi, blanditiis!</p><!-- lorem30 -->
        <a href="#" class="btn btn-dark">Learn More</a>
      </div>
              </div>
          </div>
          <div class="col-12 col-lg-4">
              <div class="card mx-auto my-5">
                  <img src="assets/images/Backimg/abc.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Client Name</h5>
        <hr>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam non facilis, sit reiciendis aspernatur veniam! Eligendi optio architecto, est similique ad sed? Eius ducimus eos perferendis possimus sint. Sequi, blanditiis!</p>
        <a href="#" class="btn btn-dark">Learn More</a>
      </div>
              </div>
          </div>
          <div class="col-12 col-lg-4">
              <div class="card mx-auto my-5">
                  <img src="assets/images/Backimg/abc.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Client Name</h5>
        <hr>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam non facilis, sit reiciendis aspernatur veniam! Eligendi optio architecto, est similique ad sed? Eius ducimus eos perferendis possimus sint. Sequi, blanditiis!</p>
        <a href="#" class="btn btn-dark">Learn More</a>
      </div>

              </div>
          </div>
      </div>
  </div>
</body>





<body>

  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>company</h4>
  	 			<ul>
  	 				<li><a href="#">about us</a></li>
  	 				<li><a href="#">our services</a></li>
  	 				<li><a href="#">privacy policy</a></li>
  	 				<li><a href="#">affiliate program</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>get help</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">shipping</a></li>
  	 				<li><a href="#">returns</a></li>
  	 				<li><a href="#">order status</a></li>
  	 				<li><a href="#">payment options</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>online shop</h4>
  	 			<ul>
  	 				<li><a href="#">watch</a></li>
  	 				<li><a href="#">bag</a></li>
  	 				<li><a href="#">shoes</a></li>
  	 				<li><a href="#">dress</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

</body>
