
<a href="/" class="buttenback">Back</a>









<body>
    <div class="container">
       <div class="card__container">
          <article class="card__article">
             <img src="assets/images/Backimg/img1.png" alt="image" class="card__img">

             <div class="card__data">
                <span class="card__description">Vancouver Mountains, Canada</span>
                <h2 class="card__title">The Great Path</h2>
                <a href="#" class="card__button">Read More</a>
             </div>
          </article>

          <article class="card__article">
             <img src="assets/images/Backimg/img1.png" alt="image" class="card__img">

             <div class="card__data">
                <span class="card__description">Poon Hill, Nepal</span>
                <h2 class="card__title">Starry Night</h2>
                <a href="#" class="card__button">Read More</a>
             </div>
          </article>

          <article class="card__article">
             <img src="assets/images/Backimg/img1.png" alt="image" class="card__img">

             <div class="card__data">
                <span class="card__description">Bojcin Forest, Serbia</span>
                <h2 class="card__title">Path Of Peace</h2>
                <a href="#" class="card__button">Read More</a>
             </div>
          </article>
       </div>
    </div>
</body>


































<body>
    <div class="wrapper">
        <h1>Our Services</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Esse amet illo eos eligendi nobis nam aspernatur
             placeat.</p>
             <div class="content-box">
                <div class="Acard">
                    <i class="bx bx-bar-chart-alt bx-md"></i>
                    <h2>Marketing Services</h2>
                  <p>Marketing services can include advertising, public relations, market research, and more. </p>

                </div>
                <div class="Acard">
                    <i class="bx bx-laptop bx-md"></i>
                    <h2>Website Development</h2>
                   <p>Web development refers to the creating, building, and maintaining of websites.</p>

                </div>
                <div class="Acard">
                    <i class='bx bx-user bx-md'></i>

                    <h2>24/7 Call Center Services</h2>
                <p>A BPO call center is a team of outsourced agents who handle incoming and outgoing.</p>

                </div>
                <div class="Acard">
                    <i class="bx bx-mail-send bx-md"></i>
                    <h2>Social Media Marketing</h2>
                    <p> Iure ad fuga, voluptas nisi odit blanditiis aut culpa quasi. Expedita deleniti molestias hic
                        numquam delectus!</p>

                </div>
                <div class="Acard">
                    <i class="bx bx-bar-chart-alt bx-md"></i>
                    <h2>Copporate Bussiness</h2>
                    <p> Iure ad fuga, voluptas nisi odit blanditiis aut culpa quasi. Expedita deleniti molestias hic
                        numquam delectus!</p>

                </div>
                <div class="Acard">
                    <i class="bx bx-bar-chart-alt bx-md"></i>
                    <h2>Copporate Bussiness</h2>
                    <p> Iure ad fuga, voluptas nisi odit blanditiis aut culpa quasi. Expedita deleniti molestias hic
                        numquam delectus!</p>

                </div>

                <div class="Acard">
                    <i class="bx bx-bar-chart-alt bx-md"></i>
                    <h2>Copporate Bussiness</h2>
                    <p> Iure ad fuga, voluptas nisi odit blanditiis aut culpa quasi. Expedita deleniti molestias hic
                        numquam delectus!</p>

                </div>

                <div class="Acard">
                    <i class="bx bx-bar-chart-alt bx-md"></i>
                    <h2>Copporate Bussiness</h2>
                    <p> Iure ad fuga, voluptas nisi odit blanditiis aut culpa quasi. Expedita deleniti molestias hic
                        numquam delectus!</p>

                </div>

                <div class="Acard">
                    <i class="bx bx-bar-chart-alt bx-md"></i>
                    <h2>Copporate Bussiness</h2>
                    <p> Iure ad fuga, voluptas nisi odit blanditiis aut culpa quasi. Expedita deleniti molestias hic
                        numquam delectus!</p>

                </div>
                <div class="Acard">
                    <i class="bx bx-bar-chart-alt bx-md"></i>
                    <h2>Copporate Bussiness</h2>
                    <p> Iure ad fuga, voluptas nisi odit blanditiis aut culpa quasi. Expedita deleniti molestias hic
                        numquam delectus!</p>

                </div>
                <div class="Acard">
                    <i class="bx bx-bar-chart-alt bx-md"></i>
                    <h2>Copporate Bussiness</h2>
                    <p> Iure ad fuga, voluptas nisi odit blanditiis aut culpa quasi. Expedita deleniti molestias hic
                        numquam delectus!</p>

                </div>
                <div class="Acard">
                    <i class="bx bx-bar-chart-alt bx-md"></i>
                    <h2>Copporate Bussiness</h2>
                    <p> Iure ad fuga, voluptas nisi odit blanditiis aut culpa quasi. Expedita deleniti molestias hic
                        numquam delectus!</p>

                </div>




             </div>
    </div>
</body>















<body>

    <div class="content">
        <div class="container">
            <div class="single-content">
                <h1></h1>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <img src="assets/images/Backimg/img11.png" alt="">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam repellendus sunt praesentium aspernatur iure molestias.</p>
                    <h3>We Accect</h3>
                    <div class="card-area">
                            <i class="fa fa-cc-visa"></i>
                            <i class="fa fa-credit-card"></i>
                            <i class="fa fa-cc-mastercard"></i>
                            <i class="fa fa-cc-paypal"></i>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <h2>Hosting</h2>
                    <ul>
                        <li><a href="#">Web Hosting</a></li>
                        <li><a href="#">Cloud Hosting</a></li>
                        <li><a href="#">CMS Hosting</a></li>
                        <li><a href="#">WordPress Hosting</a></li>
                        <li><a href="#">Email Hosting</a></li>
                        <li><a href="#">VPS Hosting</a></li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <h2>Domain</h2>
                    <ul>
                        <li><a href="#">Web Domain</a></li>
                        <li><a href="#">Cloud Domain</a></li>
                        <li><a href="#">CMS Domain</a></li>
                        <li><a href="#">WordPress Domain</a></li>
                        <li><a href="#">Email Domain</a></li>
                        <li><a href="#">VPS Domain</a></li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <h2>Newsletter</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur doloremque earum similique fugiat nobis. Facere?</p>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Enter your Email ..." aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2"><i class="fa fa-long-arrow-right"></i></span>
                        </div>
                        <h2>Follow us on</h2>
                        <p class="socials">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-dribbble"></i>
                            <i class="fa fa-pinterest"></i>
                            <i class="fa fa-twitter"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>



