
<div class="container">
    <p class="ONLINE-BOOKINGS">ONLINE-BOOKINGS</p>
  </div>

  <div class="bg-light p-5 text-center">
    <h2>card payments</h2>
    <p>Cache on payment:</p>
    <a href="/" class="btn btn-primary">Back</a>&nbsp;
  <a href= "Easy-booking" class="btn btn-success">E-Booking</a>
  </div>



<body>

    <div class="wrapper">
        <!-- card one  -->
        <div class="card">
            <div class="face front">
                <div class="content">
                    <i class="bi bi-facebook"></i>
                    <h3>Full Service</h3>
                </div>

            </div>
            <div class="face back">
                <div class="content">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At beatae aut praesentium qui distinctio fugit quae rem quisquam, odit voluptatibus sequi, facilis laborum necessitatibus eaque nihil, saepe unde vero harum excepturi eos culpa doloremque molestiae?</p>
                    <a href="new-member-register">Read More</a>
                </div>
            </div>
        </div>
          <!-- card two -->
          <div class="card">
            <div class="face front">
                <div class="content">
                    <i class="bi bi-messenger"></i>
                    <h3>Service (Oil change only)</h3>
                </div>

            </div>
            <div class="face back">
                <div class="content">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At beatae aut praesentium qui distinctio fugit quae rem quisquam, odit voluptatibus sequi, facilis laborum necessitatibus eaque nihil, saepe unde vero harum excepturi eos culpa doloremque molestiae?</p>
                    <a href="new-member-register">Book Now</a>
                </div>
            </div>
        </div>



<!-- card two -->
<div class="card">
    <div class="face front">
        <div class="content">
            <i class="bi bi-messenger"></i>
            <h3>Body wash</h3>
        </div>

    </div>
    <div class="face back">
        <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At beatae aut praesentium qui distinctio fugit quae rem quisquam, odit voluptatibus sequi, facilis laborum necessitatibus eaque nihil, saepe unde vero harum excepturi eos culpa doloremque molestiae?</p>
            <a href="new-member-register">Read More</a>
        </div>
    </div>
</div>


<!-- card two -->
<div class="card">
    <div class="face front">
        <div class="content">
            <i class="bi bi-messenger"></i>
            <h3>Underwash</h3>
        </div>

    </div>
    <div class="face back">
        <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At beatae aut praesentium qui distinctio fugit quae rem quisquam, odit voluptatibus sequi, facilis laborum necessitatibus eaque nihil, saepe unde vero harum excepturi eos culpa doloremque molestiae?</p>
            <a href="new-member-register">Read More</a>
        </div>
    </div>
</div>



<!-- card two -->
<div class="card">
    <div class="face front">
        <div class="content">
            <i class="bi bi-messenger"></i>
            <h3>Body wash with vacuum</h3>
        </div>

    </div>
    <div class="face back">
        <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At beatae aut praesentium qui distinctio fugit quae rem quisquam, odit voluptatibus sequi, facilis laborum necessitatibus eaque nihil, saepe unde vero harum excepturi eos culpa doloremque molestiae?</p>
            <a href="new-member-register">Read More</a>
        </div>
    </div>
</div>


          <!-- card three  -->
          <div class="card">
            <div class="face front">
                <div class="content">
                    <i class="bi bi-linkedin"></i>
                    <h3>Tune-up</h3>
                </div>

            </div>
            <div class="face back">
                <div class="content">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At beatae aut praesentium qui distinctio fugit quae rem quisquam, odit voluptatibus sequi, facilis laborum necessitatibus eaque nihil, saepe unde vero harum excepturi eos culpa doloremque molestiae?</p>
                    <a href="new-member-register">Read More</a>
                </div>
            </div>
        </div>
    </div>




</body>











